@charset "UTF-8";
/* CSS Document */

nav {
	float: right;
	padding-right: 20px;
	padding-top: 20px;
	color: #FBF7F7;
}

body {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    font-family: arial;
    text-align: center;
}

nav ul li {
	list-style-type: none;
	padding-left: 20px;
	text-align: right;
	display:inline-block;
}

nav ul li a {
	text-decoration: none;
	color: #FFFFFF;
}

.hero-box {
	height: 600px;
	background-color: #0E0000;
	background-image: url("images/Saline Stories poster_supertrimmed.png");
	background-size: cover;
	padding-top: 50px;
	width:98%;
	margin:1%;
}

h1 {
	color:#FFFFFF;
	font-size:80;
	padding-top:10px;
	padding-left:60px;
	text-align: left;
}

.tiles img {
	width: 100%;
	height:auto;
	display: block;
}

.tiles {
	width:31.3%;
	float:left;
	margin:1%;
}

/*Tablet*/
@media ( max-width : 768px ){
	h1 {
		font-size: 40px;
		text-align: center;
		padding-left: 0px; 
	}
	.tiles{
		width:48%;
	}
	nav ul li {
		display: block
	}
}


/*Mobile*/
@media (max-width:400px){
	h1 {
		font-size: 25px; 
	}
	.tiles{
		width:98%;
	}
}
